.idea/
__pycache__/
.cache/*
test/common/.cache/*
requirements/Task/**
requirements/Web/**
requirements/Price/**
requirements/Queue/**

lambda/Task/Task???/*
!lambda/Task/Task???/template.yaml
!lambda/Task/Task???/Task???.py
!lambda/Task/Task???/Task???_event.json

lambda/Web/Web???/*
!lambda/Web/Web???/template.yaml
!lambda/Web/Web???/Web???.py
!lambda/Web/Web???/Web???_event.json

lambda/Price/Price???/*
!lambda/Price/Price???/template.yaml
!lambda/Price/Price???/Price???.py
!lambda/Price/Price???/Price???_event.json

lambda/Queue/Queue???/*
!lambda/Queue/Queue???/template.yaml
!lambda/Queue/Queue???/Queue???.py
!lambda/Queue/Queue???/Queue???_event.json

mecab/~*
